{% include svg/defs.html %}

<header class="header">

  <div class="header_wrap">

    <a class="site_name" href="{{ site.baseurl }}/">
      <span class="site_name__before">Jungle</span>
      <span class="site_name__category">{{page.slug|strip_html|strip_newlines}}</span>
      <span class="site_name__proper">{{site.name|strip_html|strip_newlines}}{% if page.is_home %}{% endif %}</span><span class="site_name__after">s</span>
    </a>

    <span class="menu_icon" id="menu_switch">
      {% include svg/use.html id="icn--menu" class="menu" %}
    </span>

    {% include nav.html %}

  </div>

</header>
