# Astro
node_modules
dist
.astro
*.log

# OS / editor
.DS_Store
**/.DS_Store
**/._*
**/Thumbs.db
**/ehthumbs.db
**/.Spotlight-V100
**/.Trashes

# Packages
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
