<footer class="footer">

  <div class="wrap">

    <div class="section">
      <span class="footer_icon hide">
        {% include svg/use.html id="icn--love" class="love" %}
      </span>
      <p class="site_name">Speak</p>
      
      <span class="footer_icon hide">
        {% include svg/use.html id="icn--comments" class="comments" %}
      </span>
      <p>We speak therefore we are.</p>

      <p>Speak&nbsp;up! We'll ♡ to listen.</p>

      <span class="footer_icon hide">
        {% include svg/use.html id="icn--mail" class="mail" %}
      </span>
      <a href="mailto:{{ site.email }}">{{ site.email }}</a>
    </div>

    <div class="section">
      <p class="site_description">{{ site.description }}</p>
    </div>

  </div>

</footer>

