{% include svg/defs.html %}

<header class="header">
  
  <a class="site_title" href="{{ site.baseurl }}/">
    <span class="site_title__jungle">Jungle</span>
    <span class="site_title__category">{{page.slug|strip_html|strip_newlines}}</span>
    <span class="site_title__proper">{{site.title|strip_html|strip_newlines}}{% if page.is_home %}{% endif %}</span><span class="site_title__s">s</span>
    
  </a>

  <nav class="nav">
    <span class="menu_icon" id="menu_switch">
      {% include svg/use.html id="icn--menu" class="menu" %}
    </span>

    <div class="menu_wrap hide" id="nav">
      {% for page in site.pages %}
        {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}"><span class="page-title">{{ page.title }}</span></a>
        {% endif %}
      {% endfor %}
    </div>
    
  </nav>

</header>
