<head>

    <meta name="version" content="{{ site.version }}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}jungle speaks about {{ page.title|downcase }}{% else %}Jungle Speaks{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description | strip_newlines }}">
    <meta name="keywords" content="{{ site.keywords | array_to_sentence_string }}">
    <meta name="msapplication-tap-highlight" content="no"/>
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}"> -->

    {% capture inline_css %}
      {% include main.scss %}
    {% endcapture %}
    <style>{{ inline_css | scssify }}</style>

    {% include favico.html %}

    {% seo title=false %}

    <link rel="preload" href="https://www.google-analytics.com">

    <meta name="google-site-verification" content="{{site.google_site_verification}}" />

</head>
