<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}jungle speaks about {{ page.title|downcase }}{% else %}Jungle Speaks{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description | strip_newlines }}">
    <meta name="keywords" content="{{ site.keywords | array_to_sentence_string }}">
    <meta name="version" content="{{ site.version }}">
    <meta name="msapplication-tap-highlight" content="no"/>
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' mailto:*">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    {% include favico.html %}

    {% include open_graph.html %}

    <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">

</head>
