{% include svg/defs.html %}

<header class="header">

  <nav class="nav">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <span class="menu-icon">
      {% include svg/use.html id="icn--menu" class="menu" %}
    </span>

    <div class="trigger" id="nav">
      {% for page in site.pages %}
        {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}"><span class="page-title">{{ page.title }}</span></a>{% endif %}
      {% endfor %}
    </div>
    
  </nav>

</header>
