
<div class="home">

  <div class="posts">

    {% for post in site.posts limit:25 %}
      <div class="post">

        <div class="ballon_background_icon">

          {% if post.categories contains 'geek' %}
            <p class="hide">This awesomely 'geek'.</p>
            {% include svg/use.html id="icn--geek" class="geek" %}

          {% elsif post.categories contains 'singlish' %}
            <p class="hide">This 'singlish' lah.</p>
            {% include svg/use.html id="icn--singlish" class="singlish" %}

          {% elsif post.categories contains 'catchphrase' %}
            <p class="hide">This is a mean 'catchphrase'.</p>
            {% include svg/use.html id="icn--catchphrase" class="catchphrase" %}

          {% elsif post.categories contains 'serious' %}
            <p class="hide">This really 'serious'.</p>
            {% include svg/use.html id="icn--serious" class="serious" %}

          {% elsif post.categories contains 'italiano' %}
            <p class="hide">This 'italiano'.</p>
            {% include svg/use.html id="icn--italiano" class="italiano" %}

          {% elsif post.categories contains 'english' %}
            <p class="hide">This is proper 'english'.</p>
            {% include svg/use.html id="icn--english" class="english" %}

          {% endif %}

        </div>

        <a class="post_link" href="{{ post.url | prepend: site.baseurl }}">
          <span class="post_content">
            {{ post.content | split:"<!-- more -->" | first | strip_html | truncate:155 }}
            {% if post.content | size > 155 %}
              <span class="read_more">&nbsp;</span>
            {% endif %}
          </span>
        </a>

        <div class="meta">

          <span class="post_date">{{ post.date | date: "%b %-d, %Y" }}</span>
          <span class="post_title">{{ post.title }}</span>

        </div>

      </div>
    {% endfor %}

  </div>


</div>
