<span class="author_ico" id="link_switch">

  {% if page.categories contains 'geek' %}
    <p class="hide">This awesomely 'geek'.</p>
    {% include svg/use.html id="icn--geek" class="geek" %}

  {% elsif page.categories contains 'singlish' %}
    <p class="hide">This 'singlish' lah.</p>
    {% include svg/use.html id="icn--singlish" class="singlish" %}

  {% elsif page.categories contains 'catchphrase' %}
    <p class="hide">This is a mean 'catchphrase'.</p>
    {% include svg/use.html id="icn--catchphrase" class="catchphrase" %}

  {% elsif page.categories contains 'serious' %}
    <p class="hide">This really 'serious'.</p>
    {% include svg/use.html id="icn--serious" class="serious" %}


  {% elsif page.categories contains 'italiano' %}
    <p class="hide">This 'italiano'.</p>
    {% include svg/use.html id="icn--italiano" class="italiano" %}

  {% elsif page.categories contains 'english' %}
    <p class="hide">This is proper 'english'.</p>
    {% include svg/use.html id="icn--english" class="english" %}

  {% endif %}

</span>

{% if page.author %}
  <p class="author">{{ page.author }}</p>
{% endif %}
