<header class="post_header">
  
  <h1>{{ page.title }}</h1>

  <p class="meta hide">{{ page.date | date: "%b %-d, %Y" }}</p>
  
</header>

<article class="post_content">

  {% include post_icons.html %}

  {% if page.goto %}
    <p class="goto hide" id="ballon1"> 
      <a target="_blank" href="http://{{ page.goto }}" data-action="go-to-source" class="go_to_source" >
        {% if page.go %}
          <span class="ext_link_text">Go {{ page.go }}</span>
          <span class="ext_link_ico">{% include svg/use.html id="icn--external_link" class="external_link" %}</span>  
        {% endif %}
      </a>
    </p>
  {% endif %}

  {% if page.gocheck %}
    <p class="gocheck hide" id="ballon2">
      <a target="_blank" href="http://{{ page.gocheck }}" data-action="go-check" class="go_to_source" >
        <span class="ext_link_text">Check</span>
        <span class="ext_link_ico">{% include svg/use.html id="icn--external_link" class="external_link" %}</span>
      </a>
    </p>  
  {% endif %}

  {% if page.alsocheck %}
    <p class="alsocheck hide" id="ballon3">
      <a target="_blank" href="http://{{ page.alsocheck }}" data-action="also-check" class="go_to_source" >
        <span class="ext_link_text">Also</span>
        <span class="ext_link_ico">{% include svg/use.html id="icn--external_link" class="external_link" %}</span>
      </a>
    </p>  
  {% endif %}

  {{ content }}
  
</article>
