<script>
  // currently linked NOWHERE! 
  // Its functionality is hardcoded in css instead. 
  // yes, quick dirty hack, but works...
  // keep this for reference, future hack or tweaks..
  window.onload = function() { 
    var all_links = document.getElementById("nav").getElementsByTagName("a"),
      i=0, len=all_links.length,
      full_path = location.href.split('#')[0];

    for(; i<len; i++) {
      if(all_links[i].href.split("#")[0] == full_path) {
        all_links[i].className += " active";
      }
    }
  }
</script>
