<script>
  /* code that SPEAKs: toggle menu */

    function toggleClass(element, className){
        if (!element || !className){
            return;
        }
        
        var classString = element.className, nameIndex = classString.indexOf(className);
        if (nameIndex == -1) {
            classString += ' ' + className;
        }
        else {
            classString = classString.substr(0, nameIndex) + classString.substr(nameIndex+className.length);
        }
        element.className = classString;
    }

    document.getElementById('menu_switch').addEventListener('click', function() {
        toggleClass(document.getElementById('nav'), 'shallow');
        toggleClass(document.body, 'and now menu_is_open');
    });
</script>


