.cover{
  height: 100vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}


.cover_grafik{
  //width: 100%;
  min-height: 30vh;
  height:50%;
//  min-height: 30vh;
}

.cover_text {
//  min-height: 50vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

svg.face{
  //height:50vh;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

.random{
  padding: 2rem 2rem 2rem 2rem;
  a { color: $brand_color; }
  font-size: 1.75rem;
}

.home blockquote {
  background-color: $brand_color;
  max-height: 50%;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  margin: 0 10%;
  @include media( "screen", ">minWidth") {
    margin: 0 15%;
  }
  @include media( "screen", ">bp1Width") {
    margin: 0 25%;
  }
  &:after{left:45%;}
  a {
    color: black;
    &:focus{color: black;}
  }
}
