//BEM
.footer {
  background-color: $dark_color;
  position: relative;
  z-index:4;

  //tilt stuff
  width:104vw;
  margin-left: -6vw;
  padding: 10vw 10vw 5vw 10vw;

  //@include rotate($tilt);
  //straighten all inside elements
  & > * {
    //@include rotate(-$tilt);
  }

  //shadow stuff
  @include card(5);

  p {
    margin-bottom:$vert_margin_size * 3;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  a{
    will-change: tranform, color;
    transition-duration: $transition_duration;
    transition-timing-function: $transition_function;
    transition-property: color;
  }
  a:hover,
  a:visited:hover{color: darken($brand_color, 20%);}

}


.footer__header{
  width: 90%;
  margin-left:2vw;
  @include media( "screen", ">bp1Width"){
    margin-left:4vw;
  }

  .site__name{
    font-size: $base_font_size * 2.5;

    &:before {
      content: "Jungle";
      opacity: .4;
    }
    &:after {
      content: "s";
      opacity: .4;
    }
  }
}


.footer__wrap {
  width: 85%;
  margin: 0 15% 0 0;

  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;

  .footer__section {
    padding-top:10vw;
    padding-left:5vw;
    padding-right:5vw;
  }

  @include media( "screen", ">bp1Width"){
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;

    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;

    -webkit-justify-content: space-around;
    -ms-flex-pack: space-around;
    justify-content: space-around;


    .footer__section {
      -ms-flex-preferred-size:33%;
      -webkit-flex-basis:33%;
      flex-basis:33%;
    }

    .footer__section.two { }
    .footer__section.three {padding-right:0; }
  }
}

.footer__catchphrase {
  padding-bottom: .5rem;
  font-size: $base_font_size * 1.5;
}

.site__description{line-height: $base_line_height * 1.2;}

.footer__icon{
  display: inline-block;
  min-width:40px;
  width:40px;
  height:30px;
  margin-top:-4px;
  //this for all icons
  svg{
    width:30px;
    height:30px;
  }
}

//this for just qr icon
.qr_switch{
  display:block;
  background-color:$dark_color;
  cursor: pointer;
  will-change: transform;
}


.qr_switch .qr{
  display:block;
  width:60px;
  height:60px;
}

.qr_switch .qr svg{
  cursor: pointer;
  width:100%;
  height:100%;
}

//qr icon when toggled
.qr_switch.is_big { will-change: transform;}
.qr_switch.is_big .qr{
  display: block;
  outline: 10px solid $dark_color;

  -webkit-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  transform-origin: left bottom;

  transition-duration: $transition_duration;
  transition-timing-function: $transition_function;
  transition-property: -webkit-transform;
  transition-property: transform;

  -webkit-transform: scale(3);
  -ms-transform: scale(3);
  transform: scale(3);

}
