//BEM
.footer {
  padding: 5rem 5vw 5rem 10vw;
  .right {
      line-height:1.25;
      display:inline-block;
      margin-left:.75rem;
      padding-top:0;
      margin-top: -1.75rem;
    }
  a{
    transition-duration: $transition_duration;
    transition-timing-function: ease-in-out;
    transition-property: color;
    line-height:2;
    padding-left:.5rem;
    padding-top:4rem;
    &.cc.right {
      line-height:1.25;
      display:inline-block;
      margin-left:2.5rem!important;
      padding-top:0;
      margin-top: -1.75rem;
    } 
  }
  a:hover,
  a:visited:hover{color: darken($back_color, 20%);}

  p {
    clear: both;
    width:100%;
    margin-top:0;//$vert_margin_size * 3;
    margin-bottom:$vert_margin_size * 3;
  } 
}


.leash {
  top:-5px;
  width: $tilt_width;
  height: $tilt_height;
  position: relative;
  background:$back_color;
  color: transparent;
}
.leash:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  background: $back_color;
  border-bottom: 50px solid $front_color;
  border-left: $tilt_width solid transparent;
}


.footer__icon{
    float: left;
    width:30px;
    height:30px;
    padding-right:.5rem;
    margin-top:0;
    svg{
      width:100%;
      height:100%;
    }
  }

.footer__header{
  min-width: 100%;
  //padding-top:6rem;
  .site__name{
    font-size: $base_font_size * 2.5;
    
    &:before {
      content: "Jungle";
      opacity: .4;
    }
    &:after {
      content: "s";
      opacity: .4;
    }
  }
}


.footer__wrap {
  display: -webkit-flex;                  
  display: -ms-flexbox;                  
  display: flex;   

  -webkit-flex-direction: column;                  
  -ms-flex-direction: column;                  
  flex-direction: column;

  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;

  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; 

  @include media( "screen", ">bp1Width"){
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;

    -webkit-justify-content: space-around;
    -ms-flex-pack: space-around;
    justify-content: space-around;

    .footer__section {
      padding: 0 5rem 0 0;
      &:last-child{padding: 0;}

      -webkit-flex-basis:33%;
      -ms-flex-preferred-size:33%;
      flex-basis:33%;
    }

    .footer__section.two {}
    .footer__section.three {}
  }
}

.footer__catchphrase {font-size: $base_font_size * 1.5;}

.site__description{line-height: $base_line_height * 1.2;}

// diagonal border
// .leash { 
//   position: relative;
//   top: -6px;
//   background-color: $back_color;
//   width: 100%;
//   height: 50px;
//   -webkit-clip-path: polygon(100% 0, 0 0, 0 100%);
//   clip-path: polygon(100% 0, 0 0, 0 100%);
// }


