// HEADER BLOCK
.header {
  background-color: rgba(0,0,0,1);
  position: relative;
  min-height: 54px;
  outline: none;
  overflow-x: hidden;
  margin-bottom: -50px;
}

.tie { 
  position: relative;
  top: 48px;
  background-color: yellow;//$back_color;
  background-color: $front_color;
  width: 100%;
  height: 50px;
  -webkit-clip-path: polygon(100% 0, 0 0, 0 100%);
  clip-path: polygon(100% 0, 0 0, 0 100%);
}

//NAV inside header
.nav { 
  position: relative;
  padding-top:1rem;
  width: 100%;
  z-index: 10;
  background-color: transparent;
  font-size: 26px;
}

.menu_icon {
  position: absolute; 
  z-index: 100;
  top: -4rem;
  right: 1rem;
  
  width: 48px; 
  height: 48px;
  cursor: pointer;
  svg { 
    width: 48px; 
    height: 48px;
    pointer-events: none; 
  }
  .single & {top: -3.5rem;}
}


.site_title__jungle,
.site_title__proper,
.site_title__s {opacity: .5;}

.site_title{ 
  display: inline-block;
  padding:0;
  margin-right: 10vw;
  margin-left: 1rem; 
  margin-top: 1.5rem;
  margin-bottom: 1rem; 
  z-index: 1;

  font-size: calc(8vw + 8px); 
  line-height:1;
  letter-spacing: -1px;
  color: $back_color;
  &:hover {color: lighten($back_color, 20%);}

  .site_title__s{display:none;}

  .site_title__jungle,
  .site_title__category{ width: 100%; }

  .index & {
    span:not(.site_title__s):not(.site_title__proper) {
      display: block;
      width:100%;
    }
    .site_title__category,
    .site_title__jungle{clear:both;}
    .site_title__s{display:none;}
  }

  .home &,
  .single & {
    .site_title__proper{
      opacity:1;
      display:inline-block;
    }
    .site_title__s{
      display:inline-block;
    }
  }
  @include media( "screen", ">minWidth"){
    margin-left: 7vw; 
    .single & { font-size: calc(4vw + 8px);}
  }
}


// in the header menu these are the category page links
.page-link {
  position: relative;

  @include media( "screen", ">bp1Width"){
    clear: none;
    display: inline;
  }

  &.active{
    display: none;
  }
  
  &:hover .page-title:after {
    content: " !";
    display: inline;
    height: inherit;
  }
  
  .page-title { 
    display: block;
    position: relative;
    padding: 10px 1rem;
    margin:  0;
    transition: all 1s ease;
    color: $back_color;
    text-align: right;
    border-bottom: $border_size solid $tblack;

    @include media( "screen", ">bp1Width"){
      display: inline;
      float: right;
      border: $border_size solid transparent;
    }

    &:hover { 
      letter-spacing: 2px;
      padding: 10px 3rem 10px 1rem; 
      background-color: darken($back_color, 70%); 
    }
  }
} 

.menu_wrap.hide .page-link:not(.active){ display: none;}
.menu_wrap{
  margin-right:1.5rem;
  &.hide .page-link:not(.active){ display: none;}
} 

// fix the JungleSpeakS color differences on index + single pages
body.single,
body.home{
  .site_real_title{ opacity: 1;}
}



