// HEADER BLOCK
.header {
  background-color: $front_color;
  position: relative;
  min-height: 54px;
  outline: none;
  overflow: hidden;
}

.tie {
  @extend %suck_top_bottom;
  width: $tilt_width;
  height: $tilt_height;
  position: relative;
  background:$front_color;
  color: transparent;
  .single & {display: none;}
}
.tie:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  background: $front_color;
  border-bottom: 50px solid $back_color;
  border-right: $tilt_width solid transparent;
  .single & {display: none;}
}

//NAV inside header
.nav { 
  @extend %no_select;
  position: relative;
  padding-top:1rem;
  padding-bottom:1rem;
  width: 100%;
  z-index: 10;
  background-color: transparent;
  font-size: 26px;
}

.menu_icon {
  @extend %no_select;

  position: absolute; 
  z-index: 100;
  top: -4rem;
  right: 1rem;
  
  width: 48px; 
  height: 48px;
  cursor: pointer;
  svg { 
    width: 48px; 
    height: 48px;
    pointer-events: none; 
  }
  .single & {top: -3.5rem;}
}


.site_name__before,
.site_name__proper,
.site_name__after {opacity: .5;}

.site_name{ 
  display: inline-block;
  padding:1rem 0 0 .5rem;
  margin-right: 10vw;
  margin-left: 0; 
  margin-top: 1.5rem;
  margin-bottom: 1rem; 
  z-index: 1;

  font-size: calc(8vw + 8px); 
  line-height:1;
  letter-spacing: -1px;
  color: $back_color;
  transition-duration: $transition_duration;
  transition-timing-function: $transition_function;
  transition-property: color;
  &:hover {color: lighten($back_color, 20%);}

  .site_name__after{display:none;}

  .site_name__before,
  .site_name__category{ width: 100%; }

  //indexes variant
  .index & {   
    span:not(.site_name__after):not(.site_name__proper) {
      display: block;
      width:100%;
    }
    .site_name__category,
    .site_name__before{clear:both;}
    .site_name__after{display:none;}

    @include media( "screen", "<minWidth"){margin-left:2rem;}
  }
  
  //home and single variants
  .home &,
  .single & {
    .site_name__proper{
      opacity:1;
      display:inline-block;
    }
    .site_name__after{
      display:inline-block;
    }
  }
  .home & {
    @include media( "screen", "<minWidth"){
      font-size: calc(8vw + 34px);
    }
  }

  //big screen modifications
  @include media( "screen", ">minWidth"){
    margin-left: 7vw; 
    .single & { 
      padding-left:0;
      margin-left:1rem;
      font-size: calc(4vw + 8px);
    }
  }
}


// in the header menu these are the category page links
.page_link {pointer-events: none;
  position: relative;

  @include media( "screen", ">bp1Width"){clear: none; display: inline;}

  &.active{display: none;}
  
  transition-duration: $transition_duration;
  transition-timing-function: $transition_function;
  transition-property: transform;

  &:hover .page_title:after {
    content: " !";
    display: inline;
    height: inherit;
  }
  
  .page_title {
    pointer-events: none; 
    display: block;
    position: relative;
    padding: 0 1rem;
    height:0;
    width:0;
    margin:0;
    color: transparent;
    text-align: right;
    border-bottom: $border_size solid $tblack;

    @include media( "screen", ">bp1Width"){
      display: inline;
      float: right;
      border: $border_size solid transparent;
    }

    will-change: transform;
    transition-duration: $transition_duration;
    transition-timing-function: $transition_function;
    transition-property: letter-spacing, padding, background-color, width, height;

    &:hover { 
      letter-spacing: 2px;
      background-color: darken($back_color, 70%); 
      .menu_is_open &{
        pointer-events: auto;
        padding: 10px 3rem 10px 1rem;
      }
    }
    .menu_is_open &{
      pointer-events: auto;
      color: $back_color;
      height:auto;
      width:auto;
      padding: 10px 1rem;
    }
  }
} 

.menu_wrap.hide .page_link:not(.active){ 
  pointer-events: none;
  margin-right:1.5rem;
}
.menu_wrap{
  margin-right:1.5rem;
} 

// fix the JungleSpeakS color differences on index + single pages
body.single,
body.home{
  .site_real_title{ opacity: 1;}
}

//hide shit...
body:not(.single){
  &.catchphrases .nav a[href$="/catchphrases/"]{ display: none;}
  &.english .nav a[href$="/english/"]{ display: none;}
  &.italiano .nav a[href$="/italiano/"]{ display: none;}
  &.serious .nav a[href$="/serious/"]{ display: none;}
  &.geek .nav a[href$="/geek/"]{ display: none;}
  &.singlish .nav a[href$="/singlish/"]{ display: none;}
}


