//default layout
.index{
  .post-date {
    width:97%;
    color: $back_color!important; 
  }
  .post:hover .post-title {
    color: $front_color!important; 
  }
  .post:hover .post-date {
    color: $front_color!important; 
  }
} 


.archive h1 { 
  color: black;
  width: auto;
  padding-left: 30vw;
  font-size: $base_font_size;
  font-weight: $reg!important;
  margin-bottom: 2rem;
  //transition: all 3s ease;
  transition-duration: $transition_duration;
  transition-timing-function: ease-in-out;
  transition-property: padding;
  &:hover {
    padding-left:40vw;
  }  
  &:first-child:first-letter  {text-transform:uppercase;}
  
  @include media( "screen", ">minWidth"){
    color: $front_color;
    font-size: $base_font_size;
    position: relative;
    width: 40rem;
    top: 0;
    right: 1rem;
    left: 40vw;
    &:hover { left:50vw; }  
  }
}

