//default layout
.index{
  .post_date {
    width:97%;
    position: relative;
    z-index: 10;
    //color: $brand_color!important;
  }
  .post{
    will-change: color;

    transition-duration: $transition_duration;
    transition-timing-function: $transition_function;
    transition-property: color;
  }
  .post:hover .post_title {
    color: $dark_color!important;
  }
  .post:hover .post_date {
    color: $dark_color!important;
  }
}


.archive h1 {
  color: black;
  width: auto;
  padding-left: 30vw;
  font-size: $base_font_size;
  font-weight: $reg!important;
  margin-bottom: 2rem;

  transition-duration: $transition_duration;
  transition-timing-function: $transition_function;
  transition-property: padding;
  &:hover {padding-left:40vw;}

  &:first-child:first-letter  {text-transform:uppercase;}

  @include media( "screen", ">minWidth"){
    color: $dark_color;
    font-size: $base_font_size;
    position: relative;
    width: 40rem;
    top: 0;
    right: 1rem;
    left: 40vw;
    transition-duration: $transition_duration;
    transition-timing-function: $transition_function;
    transition-property: position;
    &:hover { left:50vw; }
  }
}
