.page-content{
  margin:0;
  padding: 5rem 0;
  background-color: $back_color;
  @include media( "screen", ">minWidth"){
    padding-top: 7rem;
  }

  .wrap {
    width: 100%;
    padding: 0;
    margin: 2rem 0 0 0;
    @include media( "screen", ">maxWidth"){
      width: 90%;
      margin: 2rem auto 0 auto;
    }
    zoom: 1;

    display: -webkit-flex;                 
    display: -ms-flexbox;                 
    display: flex;    

    -webkit-flex-direction: column;                 
    -ms-flex-direction: column;                 
    flex-direction: column;

    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
} 

// indexes styles
.archive h1 { 
  color: black;
  width: auto;
  padding-left: 30vw;
  font-size: 2rem;
  line-height: 1.2;
  font-weight: $reg!important;
  margin-bottom: 2rem;
  transition: all 3s ease;
  &:hover {
    transition: all 3s ease;
    padding-left:40vw;
  }  
  &:first-child:first-letter  {text-transform:uppercase;}
  
  @include media( "screen", ">minWidth"){
    font-size: 1.9rem;
    line-height: 1;
    position: relative;
    width: 40rem;
    top: 0;
    right:  1rem;
    color: $front_color;

    left: 40vw;
    &:hover { left:50vw; }  
  }
}


.post-header { 
  display:none;
  margin: 10px 0 30px;
  h1 {
    font-size: 36px;
    letter-spacing: -1.75px;
    line-height: 1;
    font-weight: $reg;
    display: none;
  }
  .meta {
    font-size: 15px;
    color: $front_color;
    margin-top: 5px;
  }
}

//author icon - smiley now!
.author-ico {
  background-size: contain;
  width: 72px;
  height: 72px;
  display: block;
  position: absolute;
  top:-10rem;
  left:calc(20% - 14px);
  float: left;
  cursor: pointer;
}
// .english .author-ico {
//   background: url('/speak/assets/icons/smiley-solid.svg') no-repeat top left;
// } 
// .italian .author-ico {
//   background: url('/speak/assets/icons/smiley-italian.svg') no-repeat top left;
// } 
// .serious .author-ico {
//   background: url('/speak/assets/icons/smiley-serious.svg') no-repeat top left;
// } 
// .geek .author-ico {
//   background: url('/speak/assets/icons/smiley-geek.svg') no-repeat top left;
// }
// .onomatopoeic .author-ico {
//   background: url('/speak/assets/icons/smiley-ono.svg') no-repeat top left;
// }

// //fallbacks
// .no-svg .author-ico {
//   background-image: url('/speak/assets/icons/smiley-solid.png') no-repeat top left;
// }
// TRICK: Free Small Text!  mardown example: **_Commentary_**
strong em { font-size:70%; }

// post-content styles
.post-content{
  margin: 0 0 2rem;
  .author {
    position: absolute;
    top: -8.5rem;
    left:calc(20% + 5rem);
    font-size: 1.8rem;
    line-height: 1;
    text-align:right;
    padding: .5rem 0 .5rem 2rem;
    border-radius: $border_radius;
    z-index: -1;  
    background-color: $front_color;
    color: $back_color;
  } 
  > * { margin: 1.2rem 0; }
  h2 {
    font-size: 1.8rem;
    line-height:1;
    letter-spacing: -1px;
  }
  h3 {
    font-size: 26px;
    letter-spacing: -1px;
  }
  h4 {
    font-size: 20px;
    letter-spacing: -1px;
  }
  blockquote {
    border-left: 4px solid #e8e8e8;
    padding-left: 20px;
    font-size: 18px;
    opacity: .6;
    letter-spacing: -1px;
    font-style: italic;
    margin: 30px 0;
  }
  ul{ padding-left: 10px; }
  ol, ul{ 
    padding-left: 10px;
    text-align:left;
    li, li p{
      text-align: left!important;
      padding:.3rem;
    }
  }

  @include media( "screen", ">minWidth"){
    h1, h2, h3, h4, h5, h6 {
      line-height: 1;
      font-weight: $reg;
      margin: 40px 0 20px;
    }
    .author { text-align:left!important; }
  } 
}  

.meta {
 width:100%;
 margin: 0 auto;
  .post-title {
    text-align: center;
    display: block;
    width:100%;
    padding: 0 1rem;
    font-size: 15px; 
    // color: $back_color!important;
  }
}

//default layout
.index{
  .post-date {
    width:97%;
    text-align: right;
    color: silver;
    color: $back_color!important; 
  }
  .post:hover .post-title {
    color: $front_color!important; 
  }
  .post:hover .post-date {
    color: $front_color!important; 
  }
} 

.posts {
  display: -webkit-flex;   
  display: -ms-flexbox;   
  display: flex;   
  
  -webkit-flex-direction: row;   
  -ms-flex-direction: row;   
  flex-direction: row;
  
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  margin-top: 2rem;

  .post { 
    -webkit-flex-basis: 80vw;
    -ms-flex-preferred-size: 80vw;
    flex-basis: 80vw;

    margin: .5rem 0 2rem 0;
    position:relative;

    @include media( "screen", ">minWidth"){
      -webkit-flex-basis: 40vw;
      -ms-flex-preferred-size: 40vw;
      flex-basis: 40vw;
      &:nth-child(even){ margin-top:5rem; }
    }

    @include media( "screen", ">bp1Width"){
      -webkit-flex-basis: 25vw;
      -ms-flex-preferred-size: 25vw;
      flex-basis: 25vw;
    }

    @include media( "screen", ">maxWidth"){
      -webkit-flex-basis: 20vw;
      -ms-flex-preferred-size: 20vw;
      flex-basis: 20vw;
    }    
  }

  .post-link {
    font-size: 2.4rem;
    letter-spacing: -1px;
    line-height: 1;
    min-width: 90px;
    text-align: center;
    display: block;
    position: relative;
  }
  .post-date {
    display:block;
    position:absolute;
    top:-1.5rem;
    left:.5rem;
    display: block;
    font-size: 15px;
    color: #818181;
  }
  a:hover {
    background-color: $front_color!important;
    border: 4px solid $back_color;
    color: $back_color!important;
    outline: 9px solid black!important;
  }

  a:hover:before {
    background-color: transparent!important;
    border-color: $back_color transparent;
  }

  a:hover:after {
    background-color: transparent!important;
    border-color: $front_color transparent!important;
  }
} 

// no-back - for single post
.no-back {
  article.post-content { color: $front_color; }
  .author { color: $back_color; }
  .page-content { background-color: transparent!important; }
}


//newer
article.post-content{
  position:relative;
  @include media( "screen", ">minWidth"){
    max-width: 70vw;
    margin-right:15vw;
    margin-left:15vw;
    margin-bottom:0;
  }  
  @include media( "screen", ">bp1Width"){
    max-width: 60vw;
    margin-top: 10vw;
    margin-right: 20vw;
    margin-left: 20vw;
  }   
}

.page.post article.post-content {
  border: 4px solid $back_color;
  outline: 11px solid black;
}

.page.post article.post-content:before{
  display:none!important;
  position: absolute!important;
}
