// Site navigation

.trigger {
  clear: both;
  margin-bottom: 5px;
}

.page-link {
  display: none;
  position: relative;
  font-size: 70%;

  @include media( "screen", ">bp1Width"){
    clear: none;
    display: inline;
  }

  &.active{
    text-transform: capitalize;
    z-index: 100;
    display: none!important;
    position: absolute;
    left: 0;
    @include media( "screen", ">bp1Width"){
      display: block!important;
      left:16rem;
      font-size: 100%;
      top:0;
      line-height: 1;
    } 
  }

  &:hover span:after {
    content: " !";
    display: inline;
    height: inherit;
  }
  span {
    position: relative;
    color: $back-color;
    display: block;
    text-align: right;
    line-height: 1.25;
    background-color: $front-color;
    padding: 10px 10px;
    margin:  0;
    letter-spacing: -.5px;  
    transition: all 2s ease;
    border: 1px solid $back-color;
    border-radius: $border-radius;

    @include media( "screen", ">bp1Width"){
      display: inline;
      float: right;
      border: 1px solid transparent;
    }

    &:hover { 
      letter-spacing: 2px;
      padding: 10px 15px;  
    }
  }
} 

.nav {
  font-size: 26px;
  position: fixed;
  z-index: 10;
  top: 1rem; 
  right: 1rem;
  background-color: transparent;
  border-radius: $border-radius;

  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  @include media( "screen", "<bp1Width"){
    &:hover .page-link {display: block;}
  }
  
  @include media( "screen", ">bp1Width"){
    position: static;
    padding-right: 2rem;
  }

  
}

.menu-icon {
  background-color: $dark-color;
  border-radius: $border-radius;
  display: block;
  font-size: 24px; 
  float: right;
  width: 36px;
  text-align: center;
  line-height: 36px;
  margin-bottom: 1rem;
  svg { 
    width: 18px; 
    height: 16px; 
  }

  @include media( "screen", ">bp1Width"){
    display: none; 
  }
}
