
.page_content{
  margin: 0;
  padding: 0 0 0 0;
  background-color: darken($brand_color, 5%);

  &:before{
    content: "";
    display: block;
    position: relative;
    //spacer
    border-bottom: 1px solid transparent;
    //proper triangle
    border-top: 80px solid $dark_color;
    border-left: 700px solid transparent;
    @include media( "screen", ">minWidth") {
      border-left: 960px solid transparent;
    }
    @include media( "screen", ">bp1Width") {
      border-left: 1260px solid transparent;
    }
    @include media( "screen", ">maxWidth") {
      border-left: 3000px solid transparent;
    }
  }

  // .index & {padding: 0 1rem 0 1rem;}

  .wrap {
    width: 90%;
    padding: 0;
    margin: 10rem auto 0 auto;
  }
}
