.post_header {
  display:none;
  margin: 10px 0 30px;
  h1 {
    font-size: $base_font_size * 3;
    letter-spacing: -1.75px;
    font-weight: $reg;
    display: none;
  }
}

.meta {
  color: transparent!important;
  width: 100%;
  margin: .75rem auto 0 auto;
  text-align: center;
  .post_title{
    width: 100%;
    display: block;
    text-align: left;
  }
  .post_date {
    text-align: right;
    width: 100%;
    display: block;
    position: absolute;
    top: -1rem;
    right: .5rem;
  }
}


.author {
  pointer-events: none;
  .single & {pointer-events: all;}
  position: absolute;
  top: -4.5rem;
  right: 0;
  left: 0;
  //z-index: -1;

  color: $brand_color;
  font-size: $base_font_size * 1.4;
  line-height: 1;
  text-align: right;
}

.author_ico {
  @extend %no_select;
  background-size: contain;
  display: block;
  cursor: pointer;
  position: absolute;
  top:-15rem;
  left: 0;
  width: $author_ico_width;
  height: $author_ico_width;

  svg {
    width: $author_ico_width;
    height: $author_ico_width;
    will-change: transform;
    transition-duration: $transition_duration;
    transition-timing-function: $transition_function;
    transition-property: -webkit-transform;
    transition-property: transform;
    -webkit-transform-origin: left bottom;
    -ms-transform-origin: left bottom;
    transform-origin: left bottom;
  }


  @include media( "screen", "<minWidth") {
    .link_is_showing & {
      svg {
        -webkit-transform:scale(0.5);
        -ms-transform:scale(0.5);
        transform:scale(0.5);
      }
    }
  }

}

// post-content styles
.post_content{
  h2 {
    font-size: $base_font_size * 1.8;
    letter-spacing: -1px;
  }
  h3 {
    font-size: $base_font_size * 2;
    letter-spacing: -1px;
  }
  h4 {
    font-size: $base_font_size * 1.25;
    letter-spacing: -1px;
  }
  blockquote {
    border-left: 4px solid $light_color;
    padding-left: 20px;
    font-size: $base_font_size * 1.125;
    opacity: .6;
    letter-spacing: -1px;
    font-style: italic;
    margin: 30px 0;
  }
  ul{ padding-left: 10px; }
  ol, ul{
    padding-left: 15%;
    text-align:left;
    li, li p{
      text-align: left!important;
      // padding:.3rem;
    }
  }

  @include media( "screen", ">minWidth") {
    h1, h2, h3, h4, h5, h6 {
      font-weight: $reg;
      margin: 40px 0 20px;
    }
  }
}


.posts {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;

  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  margin-top: 2rem;


}
.post {
  position: relative;
  margin: .5rem 0 3rem 0;

  -ms-flex-preferred-size: 80vw;
  -webkit-flex-basis: 80vw;
  flex-basis: 80vw;

  @include media( "screen", ">minWidth"){
    -ms-flex-preferred-size: 40vw;
    -webkit-flex-basis: 40vw;
            flex-basis: 40vw;

    &:nth-child(even){ margin-top:5rem; }
  }

  @include media( "screen", ">bp1Width"){
    -ms-flex-preferred-size: 25vw;
    -webkit-flex-basis: 25vw;
            flex-basis: 25vw;
  }

  @include media( "screen", ">maxWidth"){
    -ms-flex-preferred-size: 20vw;
    -webkit-flex-basis: 20vw;
            flex-basis: 20vw;
  }
}

.post_link {
  display: block;
  position: relative;
  z-index: 2;
  font-size: $base_font_size * 2;
  letter-spacing: -1px;
  min-width: 90px;
  text-align: center;
  @include card(3);

  &:hover {
    background-color: $dark_color!important;
    color: $brand_color!important;
    @include card(5);
  }
}

// single post
.single {
  article.post_content {
    text-align: left;
    color: $dark_color;
    h1,h2,h3,h4,h5,h6{text-align: center;}
  }
  .author { color: $brand_color; }
  .page_content { background-color: $dark_color; }
}


//newer
article.post_content{
  position:relative;
  margin-top: 14rem;
  margin-bottom: 10rem;
  @include media( "screen", ">minWidth") {
    max-width: 70vw;
    margin-right:15vw;
    margin-left:15vw;
  }
  @include media( "screen", ">bp1Width") {
    max-width: 60vw;
    margin-right: 20vw;
    margin-left: 20vw;
  }
}

.page.post article.post_content {
  border: $border_size--big solid $brand_color;
  //outline: 11px solid $tblack;
}

.page.post article.post_content:before{
  display:none!important;
  position: absolute!important;
}

.single article.post_content:after,
blockquote:after{
  border-color: transparent transparent $brand_color transparent;
}


.ballon_background_icon  {
  position: absolute;
  z-index: 0;
  top: -9rem;
  left: -3.4rem;
  .home &{
    top:0;
    left:0;
  }
}
