
//variables on ze fly...
$logo_size: 46px/2;
$stroke-width: 20px;

//drivates
$logo_margin: $logo_size/10;
$height: $logo_size;

#progress-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
}

#progress-element {
  box-sizing: border-box;
  background-color: $dark_color;//#2196f3;
  border-top: $height/8 solid $brand_color ;
  box-shadow: $height $height $height*2 $brand_color;
  height: $height + $height/8 + $logo_margin;
  position: relative;
}
#progress-element:after{
 
}


#progress-element:before{
  content: "";
  position: absolute;
  top: $logo_margin;
  right: $logo_margin;
  width: $logo_size;
  height: $height;
  display: block;
  background-size: $logo_size $logo_size;
  z-index: 1000;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20%20viewBox%3D%220%200%201000%201000%22%3E%0A%20%20%3Cg%20stroke-linejoin%3D%22round%22%20stroke%3D%22%2340FF00%22%20stroke-width%3D%2220px%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M940.4%2060v880h-704v-264l-176-176%20176-176v-264h704m0-1h-704c-.6%200-1%20.4-1%201v263.6l-175.7%20175.7c-.4.4-.4%201%200%201.4l175.7%20175.7v263.6c0%20.6.4%201%201%201h704c.6%200%201-.4%201-1v-880c0-.6-.4-1-1-1zM592.7%20171.9c16.6%200%2031.7%207.4%2042.6%2020.6%209.4%2011.7%2014.6%2026.3%2014.6%2042.3v338.9c0%208-1.4%2015.7-4.3%2023.2-2.9%207.1-6.6%2013.7-11.2%2019.2-4.9%206-11.2%2010.9-18%2014.3-7.4%203.7-15.4%205.7-23.7%205.7-8.9%200-17.2-2-24.6-6-6.6-3.4-12.6-8.3-17.4-14-4.9-5.4-8.6-12-11.2-19.2-2.6-7.2-4-14.6-4-22.6v-339.7c0-16%205.1-30.6%2014.6-42.3%2010.9-13.2%2026.1-20.4%2042.6-20.4m0-1c-17%200-32.4%207.3-43.4%2020.7-9.7%2012-14.8%2026.9-14.8%2043v339.8c0%207.8%201.3%2015.3%204.1%2022.9%202.7%207.6%206.5%2014.1%2011.3%2019.5%205%205.9%2011.1%2010.8%2017.7%2014.2%207.5%204.1%2016%206.1%2025.1%206.1%208.3%200%2016.5-2%2024.2-5.8%207.2-3.6%2013.6-8.6%2018.3-14.6%204.5-5.3%208.3-11.8%2011.3-19.4%202.9-7.5%204.4-15.4%204.4-23.5v-339c0-16.1-5.1-30.9-14.8-43-11.1-13.4-26.5-20.9-43.4-20.9zM592.7%20713.6c7.7%200%2015.4%201.4%2023.2%204.6%206.6%202.9%2012.6%206.9%2017.7%2012%205.1%205.4%209.4%2011.4%2012.3%2018.3%203.1%207.2%204.6%2014.6%204.6%2022.3%200%208-1.7%2015.7-4.9%2022.9-3.1%206.9-7.4%2012.9-12.6%2018-5.1%205.1-11.2%209.2-18%2012-7.2%203.1-14.6%204.6-22%204.6-7.7%200-15.4-1.7-22.3-4.6-6.6-2.9-12.6-6.9-17.7-11.7-5.4-5.1-9.4-11.2-12.6-18-3.1-7.2-4.9-14.9-4.9-22.9%200-7.7%201.7-15.4%204.6-22.3%202.9-6.9%207.1-13.2%2012.3-18.3%205.1-4.9%2010.9-9.2%2017.7-12%207.2-3.2%2014.9-4.9%2022.6-4.9m0-1c-7.7%200-15.6%201.7-23%204.9-6.2%202.6-11.9%206.5-18%2012.2-5.4%205.4-9.7%2011.8-12.5%2018.6-3%207.3-4.7%2015.2-4.7%2022.7%200%208%201.7%2015.8%204.9%2023.3%203.4%207.4%207.6%2013.4%2012.8%2018.3%205.3%205%2011.4%209%2018%2011.9%207.3%203%2015.2%204.7%2022.7%204.7%207.9%200%2015.4-1.6%2022.4-4.7%206.9-2.9%2013.1-7%2018.3-12.2%205.4-5.4%209.7-11.5%2012.8-18.3%203.3-7.5%205-15.3%205-23.3s-1.6-15.7-4.7-22.7c-2.7-6.5-6.8-12.6-12.5-18.6-5.2-5.2-11.2-9.3-18.1-12.2-7.4-3-15.3-4.6-23.4-4.6z%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%20%20%3C%2Fsvg%3E");

}
