//variables on ze fly...
$distance: 46px/3*2;
$height: 4px;

#progress-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
}

#progress-element {
  box-sizing: border-box;
  background-color: $dark_color;//#2196f3;
  border-top: $height/2 solid $back_color ;
  box-shadow: $height $height $height*2 yellow;
  height: $height;
  position: relative;
}
#progress-element:after{

}
#progress-element:before{
  content: "";
  position: absolute;
  top:-$distance*1.15;
  right: -$distance;
  width: $distance;
  height: $distance + 10px;
  display: block;
  background-size: $distance $distance;
  z-index: 1000;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 400 400' overflow='visible' enable-background='new 0 0 400 400'%3E%3Cpath fill='%237CFF00' d='M242 309.7c-2 0-4-.4-5.8-1.2-1.8-.8-3.3-1.8-4.7-3.1-1.4-1.3-2.5-2.9-3.3-4.7-.8-1.8-1.2-3.9-1.2-6 0-2 .4-4 1.2-5.8.8-1.8 1.8-3.4 3.2-4.8 1.4-1.3 2.9-2.4 4.7-3.2 1.9-.8 3.8-1.2 5.9-1.2s4 .4 5.9 1.2c1.8.8 3.4 1.9 4.7 3.2 1.4 1.4 2.5 3 3.2 4.8.8 1.8 1.2 3.8 1.2 5.8 0 2.1-.4 4.1-1.2 6-.8 1.8-1.9 3.4-3.3 4.7-1.4 1.3-3 2.4-4.7 3.1-1.9.8-3.8 1.2-5.8 1.2z'/%3E%3Cpath d='M242 284.7c1.4 0 2.7.3 3.9.8 1.2.5 2.3 1.3 3.2 2.2.9.9 1.6 2 2.1 3.2s.8 2.5.8 3.9-.3 2.7-.8 3.9c-.5 1.2-1.3 2.3-2.2 3.2-.9.9-2 1.6-3.2 2.1-1.2.5-2.5.8-3.8.8-1.4 0-2.6-.3-3.8-.8-1.2-.5-2.3-1.2-3.2-2.1-.9-.9-1.6-1.9-2.2-3.2-.5-1.2-.8-2.5-.8-3.9s.3-2.6.8-3.9c.5-1.2 1.2-2.3 2.1-3.2.9-.9 2-1.6 3.2-2.2 1.2-.6 2.5-.8 3.9-.8m0-10c-2.7 0-5.4.6-7.9 1.7-2.4 1-4.4 2.5-6.2 4.2-1.8 1.8-3.3 4-4.3 6.4-1 2.4-1.6 5.1-1.6 7.8 0 2.8.6 5.5 1.7 8 1.1 2.4 2.5 4.5 4.4 6.3 1.8 1.7 3.9 3.1 6.2 4.1 2.4 1 5.1 1.6 7.8 1.6 2.6 0 5.2-.5 7.7-1.6 2.4-1 4.5-2.4 6.3-4.2 1.8-1.8 3.3-3.9 4.4-6.3 1.1-2.5 1.7-5.2 1.7-8 0-2.7-.5-5.3-1.6-7.8-1-2.4-2.5-4.5-4.3-6.4-1.8-1.8-3.9-3.2-6.2-4.2-2.7-1.1-5.4-1.6-8.1-1.6z'/%3E%3Cpath fill='%237CFF00' d='M242 242.8c-2.2 0-4.3-.5-6.3-1.5-1.8-.9-3.3-2.2-4.7-3.8-1.3-1.5-2.3-3.3-3-5.2-.7-1.9-1.1-4-1.1-6.2v-118.8c0-4.5 1.3-8.4 4-11.6 2.8-3.5 6.7-5.3 11-5.3 4.4 0 8.2 1.8 11 5.3 2.6 3.2 4 7.1 4 11.6v118.8c0 2.2-.4 4.3-1.1 6.3-.7 2-1.8 3.7-3 5.2-1.3 1.6-2.9 2.8-4.8 3.8-1.8.9-3.9 1.4-6 1.4z'/%3E%3Cpath d='M242 95.3c2.9 0 5.3 1.2 7.2 3.5 1.9 2.3 2.8 5.1 2.8 8.5v118.8c0 1.6-.3 3.1-.8 4.6-.5 1.4-1.3 2.7-2.2 3.8-.9 1.1-2 1.9-3.2 2.5-1.2.6-2.5.9-3.8.9-1.4 0-2.7-.3-3.9-1-1.2-.6-2.3-1.5-3.2-2.6-.9-1.1-1.6-2.3-2.1-3.7-.5-1.4-.8-2.9-.8-4.5v-118.8c0-3.3.9-6.2 2.8-8.5s4.3-3.5 7.2-3.5m0-10c-5.8 0-11.1 2.5-14.9 7.1-3.3 4.1-5.1 9.2-5.1 14.8v118.8c0 2.8.5 5.4 1.4 7.9.9 2.5 2.2 4.8 3.9 6.7 1.7 2 3.8 3.7 6.1 4.9 2.6 1.4 5.5 2.1 8.6 2.1 2.9 0 5.7-.7 8.3-2 2.4-1.2 4.6-2.9 6.3-5 1.6-1.9 2.9-4.2 3.9-6.7 1-2.6 1.5-5.3 1.5-8.1v-118.5c0-5.6-1.8-10.7-5.1-14.8-3.8-4.6-9.1-7.2-14.9-7.2z'/%3E%3Cpath d='M390 10v380h-300v-110c0-2.7-1.1-5.2-2.9-7.1l-73-72.9 72.9-72.9c1.9-1.9 2.9-4.4 2.9-7.1v-110h300.1m10-10h-320v120l-80 80 80 80v120h320v-400z'/%3E%3Cpath fill='%237CFF00' d='M380 20v360h-280v-103c0-2.7-1.1-5.2-2.9-7.1l-70-69.9 69.9-69.9c1.9-1.9 2.9-4.4 2.9-7.1v-103h280.1m10-10h-300v113l-77 77 77 77v113h300v-380z'/%3E%3C/svg%3E");

}
