@layer reset {
	*,
	*::before,
	*::after {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}

	html {
		-webkit-text-size-adjust: 100%;
		text-size-adjust: 100%;
		line-height: var(--base_line_height);
	}

	body {
		min-block-size: 100dvh;
	}

	img,
	picture,
	svg,
	video {
		display: block;
		max-inline-size: 100%;
		block-size: auto;
	}

	svg:not(:root) {
		overflow: hidden;
	}

	button,
	input,
	optgroup,
	select,
	textarea {
		font: inherit;
		color: inherit;
	}

	a {
		color: inherit;
		text-decoration: none;
		background-color: transparent;
	}

	::selection {
		background-color: var(--brand_color);
		color: var(--dark_color);
	}

	@media (prefers-reduced-motion: reduce) {
		*,
		*::before,
		*::after {
			animation-duration: 0.01ms !important;
			animation-iteration-count: 1 !important;
			transition-duration: 0.01ms !important;
			scroll-behavior: auto !important;
		}
	}
}
