@layer utilities {
	.hide {
		position: absolute !important;
		inline-size: 1px !important;
		block-size: 1px !important;
		margin: -1px !important;
		padding: 0 !important;
		overflow: hidden !important;
		clip: rect(0, 0, 0, 0) !important;
		white-space: nowrap !important;
		border: 0 !important;
	}

	.no_select {
		-webkit-user-select: none;
		user-select: none;
	}

	.kill_mouse_touch {
		-webkit-tap-highlight-color: transparent;
	}
	.uppercase {
		text-transform: uppercase !important;
	}
}
