---
layout: compress
---
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="{% if page.title %}{{ page.title }}{% endif %} index{% if page.is_home %} home{% endif %}">

    {% include head_nav.html %}

    <div class="page_content">
      <div class="wrap">
      {{ content }}
      </div>
    </div>

    {% include footer.html %}
    <!-- {% include script_webfont.html %} no need really...-->
    {% include script_menu_toggle.html %}
    {% include script_qr_toggle.html %}
    <!-- {% include script_progress.html %} no need really...-->
    {% include script_google_analytics.html %}

  </body>

</html>
