---
layout: compress
---
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="single soft-head no-back {{ page.categories | array_to_sentence_string }}">

  {% include header.html %}

  <div class="page-content">
    <div class="wrap">
    {{ content }}
    </div>
  </div>

  <script>
  // click target: .author-ico
  // showhide toggle: .go.hide

    function toggleClass(element, className){
        if (!element || !className){
            return;
        }
        
        var classString = element.className, nameIndex = classString.indexOf(className);
        if (nameIndex == -1) {
            classString += ' ' + className;
        }
        else {
            classString = classString.substr(0, nameIndex) + classString.substr(nameIndex+className.length);
        }
        element.className = classString;
    }

    document.getElementById('toggletrigger').addEventListener('click', function() {
        toggleClass(document.getElementById('ballon1'), 'hide'),
        toggleClass(document.getElementById('ballon2'), 'hide'),
        toggleClass(document.getElementById('ballon3'), 'hide');
    });

  </script>

  {% include google_analytics.html %}
  
  </body>

</html>
