---
layout: compress
---
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="single {{ page.categories | array_to_sentence_string | replace:',',''}}">

    {% include head_nav.html %}

    <div class="page_content">
      <div class="wrap">
      {{ content }}
      </div>
    </div>

    {% include script_webfont.html %}
    {% include script_menu_toggle.html %}
    {% include script_links_toggle.html %}
    {% include script_progress.html %}
    {% include script_google_analytics.html %}

  </body>

</html>
