---
layout: no-foot
---
<div class="post">

  <header class="post-header">
    
    <h1>{{ page.title }}</h1>

    <p class="meta hide">{{ page.date | date: "%b %-d, %Y" }}</p>
    
  </header>

  {% if page.goto %}
    <p class="goto hide" id="ballon1"> 
      <a target="_blank" href="http://{{ page.goto }}" data-action="go-to-source-link" class="source-link" >
        {% if page.go %}
          <span class="go ext-link">go {{ page.go }}</span>  
        {% endif %}
        
        <!--<svg> speechbubble ext-link icon: 2states:1.incoming,2.outgoing(:hover maybe)</svg> -->
        
      </a>
    </p>
  {% endif %}

  <article class="post-content">

    {% if page.categories contains 'geek' and 'english' %}
      <p class="hide">This post is 'geek'.</p>
      {% include svg/use.html id="icn--geek" class="geek" %}
    {% endif %}

<!--     {% if page.categories contains 'onomatopoeic' %}
      <p>This post is 'ono'.</p>
      {% include svg/use.html id="icn--ono" class="ono" %}
    {% endif %}

    {% if page.categories contains 'italiano' %}
      <p>This post is 'italiano'.</p>
      {% include svg/use.html id="icn--italiano" class="italiano" %}
    {% endif %} -->

    {% if page.categories contains 'onomatopoeic' or 'italiano' %}
      <p class="hide">This post is 'ono'.</p>
      {% include svg/use.html id="icn--ono" class="ono" %}
    {% endif %}


    {% if page.categories contains 'serious' or 'english' %}
      <p class="hide">This post is 'serious'.</p>
      {% include svg/use.html id="icn--serious" class="serious" %}
    {% endif %}

    {% if page.author %}
      <i class="author-ico" id="sources_toggleTrigger"> </i>
      <p class="author">{{ page.author }}</p>
    {% endif %}

    {{ content }}

    {% if page.gocheck %}
      <p class="gocheck hide" id="ballon2">
        <a target="_blank" href="http://{{ page.gocheck }}" data-action="go-check" class="gocheck-link" >
          <span class="ext-link">check</span>
          <!-- <svg> speechbubble ext-link icon </svg> -->
        </a>
      </p>  
    {% endif %}

    {% if page.alsocheck %}
      <p class="alsocheck hide" id="ballon3">
        <a target="_blank" href="http://{{ page.alsocheck }}" data-action="also-check" class="alsocheck-link" >
          <span class="ext-link">also check</span>
          <!-- <svg> speechbubble ext-link icon </svg> -->
        </a>
      </p>  
    {% endif %}
    
   </article>

</div>
